.container {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1200px;
  background: #eee;
  padding: 30px;
}

.button-container {
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.header{
  margin-bottom: 30px;
}

.header h1{
  margin-bottom: 30px;
}

@media (max-width: 1368px){
  .container {
    max-width: 1000px;
  }

  .posts {
    gap: 25px;
  }

  .post:hover {
    transform: scale(1.03);
  }
}